.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding: 20px;
}

.pagination {
  display: flex;
  max-width: 250px;
  margin: 0 auto;
}

.pagination li {
  display: flex;
  padding-right: 15px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.cards-item {
  width: 300px;
  padding: 20px;
}

.movieImag {
  width: 200px;
}